<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://kit.fontawesome.com/9181e0d609.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>DigiIter</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">

  <!-----------------------
        Bootstrap css
    ----------------------->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- animations -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!-----------------------
        Custom css
    ----------------------->
  <link rel="stylesheet" href="./public/css/style.css">

  <!-- owl -->

  <link rel="stylesheet" href="./public/css/owl.css">

  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap" rel="stylesheet">



  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css">
</head>

<body>


  <!-----------------------
        Navbar
    ----------------------->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><em>DIGI</em> ITER</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="#section1">Home</a></li>
        <li><a href="#section2">About Us</a></li>
        <li><a href="#section3">Materials</a></li>
        <li><a href="#section4">Events</a></li>
        <li><a href="#section5">Contact</a></li>
      </ul>
    </nav>
  </header>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


  <!-------------------------------
        Banner (Text over Video)
    ------------------------------->
  <section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
      <!-- <source src="./public/images/pexels-rodnae-productions-7683406.mp4" type="video/mp4" /> -->
    </video>

    <div class="video-overlay header-text">
      <div class="caption">
        <h6>A Site for all Study Materials</h6>
        <h2 style="font-family: 'Audiowide', cursive;"><em>DIGI</em> ITER</h2>
        <div class="main-button">
          <a href="materials"><div class="scroll-to-section button">get materials</div></a>
        </div>
      </div>
    </div>
  </section>


  <!-----------------------
        About us
    ----------------------->
  <section id="abtus" class="section  " data-section="section2">
    <div class="container-fluid bg-image" style="color: rgb(255, 255, 255);">
      <div data-aos="fade-down">
        <div class="section-heading">
          <h2>About Us</h2>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 my-5 pt-5 pb-lg-5" data-aos="fade-up">
            <div class="section-title position-relative mb-4">
              <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Why DIGI ITER?</h6>
              <h1 id="abtHead" class="display-4 heading">Get everything at one place...</h1>
            </div>
            <p class="mb-4 pb-2">DIGIITER is espcially made to help out all the ITERians out there . You can get all
              study materials here and can get to know about all latest tech/non-tech events happening in and outside of
              our
              college . </p>
            <div class="d-flex mb-3">
              <div class="btn-icon bg-primary mr-4">
                <i class="fa-solid fa fa-2x fa-book-open text-white"></i>
              </div>
              <div class="mt-n1">
                <h4 class="minor-heading">Latest study material</h4>
                <p>Upto date materials from 1st to 6th sem with all assignments and notes</p>
              </div>
            </div>
            <div class="d-flex mb-3">
              <div class="btn-icon bg-secondary mr-4">
                <i class="fa fa-2x fa-certificate text-white"></i>
              </div>
              <div class="mt-n1">
                <h4 class="minor-heading">Extra Courses</h4>
                <p>Get most popular courses on devlopment, Machine learning , etc .</p>
              </div>
            </div>
            <div class="d-flex">
              <div class="btn-icon bg-warning mr-4">
                <i class="fa fa-2x fa-book-reader text-white"></i>
              </div>
              <div class="mt-n1">
                <h4 class="minor-heading">Latest events updates</h4>
                <p class="m-0">Stay in touch with all latest tech events. Participate and win exciting prices and
                  goodies. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-5" style="min-height: 500px; overflow: hidden;" data-aos="zoom-in">
            <div class="position-relative h-100">
              <img class="position-absolute w-100 h-100" src="../public/images/pexels-reimond-mar-depra-13461092.jpg"
                style="object-fit: cover;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-----------------------
        Materials
    ----------------------->

  <section class="section courses" data-section="section3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div data-aos="fade-down">
            <div class="section-heading">
              <h2>Choose Your Semester</h2>
            </div>
          </div>
        </div>
        <!-- <div data-aos="fade-up"> -->
        <div data-aos="fade-up" class="owl-carousel owl-theme">
          <div class="item">
            <img src="../public/images/courses-01.jpg" alt="Course #1">
            <div class="down-content">
              <h4>1st Semester</h4>
              <p>Calculus , Discrete Mathematics , Principle of Microeconimics , University Physics: Mechanics , ICP</p>

              <div class="text-button">
                <a href="https://drive.google.com/drive/folders/1wOiVRqj4JRkOcSiP2EoZTs9QRHZlirP-" target="_blank">GET
                  MATERIAL >></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="../public/images/courses-02.jpg" alt="Course #1">
            <div class="down-content">
              <h4>2nd Semester</h4>
              <p>Calculus-II , Critical Thinking and Communication , Data Structures and Algorithm , Introduction to
                Graph Theory , University Physics: Electricty and Magnetisum</p>

              <div class="text-button">
                <a href="https://drive.google.com/drive/folders/1hYIA_XhTc-277SxP4qAoSTeGWH3rsPMy" target="_blank">GET
                  MATERIAL >></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="../public/images/courses-03.jpg" alt="Course #1">
            <div class="down-content">
              <h4>3rd Semester</h4>
              <p>Algorithm Design-I , Digital Logic Design , Principle of Macroeconomics , Probability and Stastics</p>

              <div class="text-button">
                <a href="https://drive.google.com/drive/folders/1bcxtuY1q2HgwjihTsn9W0ghfR6HTzNhy" target="_blank">GET
                  MATERIAL >></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="../public/images/courses-04.jpg" alt="Course #1">
            <div class="down-content">
              <h4>4th Semester</h4>
              <p>Algorithm design-II , Applied Linear Algebra , Computer Organisation and Architecture , Computer
                Science Workshop-II , Universal Human Values </p>

              <div class="text-button">
                <a href="https://drive.google.com/drive/folders/1JYAms9HmgIShjAdZiNviD_OlT9B-c-Wl" target="_blank">GET
                  MATERIAL >></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="../public/images/courses-01.jpg" alt="Course #1">
            <div class="down-content">
              <h4>5th Semester</h4>
              <p>Advanced Discrete Mathematics , Design of Operating System , Operating System Workshop , Theory of
                Computation , Programming in Python , Computer Networks</p>

              <div class="text-button">
                <a href="https://drive.google.com/drive/folders/16_mJj3qCrtkoItdcBBjx6XZJ3CQFePYu" target="_blank">GET
                  MATERIAL >></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="../public/images/courses-05.jpg" alt="Course #1">
            <div class="down-content">
              <h4>6th Semester</h4>
              <p class="dev-txt">*Under devlopment</p>

              <div class="text-button">
                <a href="#" target="_blank">GET MATERIAL >></a>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
      <div id="gam" class="row">
        <a href="materials">
          <div class="button">SHOW ALL MATERIALS >></div>
        </a>
      </div>
    </div>
  </section>


  <!-----------------------
        Events
    ----------------------->
    <section class="section" data-section="section4" id="evntMain">

      <div class="container">
  
        <div data-aos="fade-down">
          <div class="section-heading">
            <h2>Events</h2>
          </div>
        </div>
        
        <div class="row" style="overflow: hidden;">
          <div data-aos="fade-right" class="col-md-6" id="evnt-txt">
            <p style="text-align: justify;">Get in touch with all latest and upcoming student/corporate competitions & engagements . Participate in latest competetions and win goodies , scholarship , etc.
            </p>
            <p class="dev-txt" id="random">*The events gets updated every weekend</p>
            <img id="evt-img" src="../public/images/evnt-img.png" height="400px" width="400px" alt="" srcset="">
            
          </div>
          <div data-aos="fade-left" class="col-md-6" id="evnt-img">
            <div class="em-out">
              <div class="em-img">
                  <img src="../public/images/robotic_evnt.webp" class="img-fluid"  alt="" srcset="">
              </div>
              <div class="em-txt">
                <h2>GRID 4.0</h2>
                <p>Flipkart GRiD Robotics Challenge is a competition that aims to challenge the contestants in the areas of stable hovering and maneuvering of the quadcopter and also its capabilities to perform the assigned task as per the problem statement.</p>
              </div>
              <a href="" class="em-btn">
                <div> SHOW MORE >></div>
              </a>
            </div>
          </div>
        </div>
        <div id="gam" >
          <a href="evnt">
            <div class="button">SHOW ALL EVENTS >></div>
          </a>
        </div>
      </div>

    </section>

  <!-----------------------
        Contact
    ----------------------->
  <section class="content  section" data-section="section5">

    <div class="container">

      <div data-aos="fade-down">
        <div class="section-heading">
          <h2>Devloper Contact</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-10">


          <div id="frm-overflow" class="row justify-content-center">
            <div class="col-md-6" data-aos="fade-right">
              <div>

                <h3 class="heading mb-4">Get in Touch !</h3>
                <p>Want to :- <br>- Contribute to DIGIITER ? <br>- Give any suggestion ?<br>- Report any bug ? <br>Fee
                  free to contact us <br>We would 💖 to listen from you</p>

                <p><img src="./public/images/contact-img.jpg" alt="Image" class="img-fluid"></p>

              </div>
            </div>
            <div class="col-md-6"  data-aos="fade-left">
              <div>
                <form class="mb-5" onsubmit="sendEmail() ; reset() ;return false;" id="contactForm" name="contactForm"
                  method="post" action="/mail">
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <textarea class="form-control" name="message" id="message" cols="30" rows="13"
                        placeholder="Write your message"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <!-- <a href="/mail"> -->
                      <button type="submit" class="btn btn-primary rounded-0 py-2 px-4">Submit</button>
                      <!-- </a> -->
                      <span class="submitting"></span>
                    </div>
                  </div>
                </form>

                <div id="form-message-warning mt-4"></div>
                <div id="form-message-success">
                  Your message was sent, thank you!
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="visitorsCount">
      <p>This page was viewed</p>
      <h2 id="count">0</h2>
      <p>times</p>
    </div>
  </section>


  <!-----------------------
        Footer
    ----------------------->
  <footer>
    <div class="container">
      <div class="row">
        <div id="ft" class="col-md-12">
          <p>Made with 💖 by Sagar Kumar</a>
        </div>
      </div>
    </div>
  </footer>

  <!-------------------------------
        Bootstrap & jquery script
    ------------------------------>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  <script src="https://smtpjs.com/v3/smtp.js">
  </script>

  <script src="./public/js/script.js"></script>

  <!-- animations -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>


  <!-- owl -->

  <script src="./public/js/owl-carousel.js"></script>


  <script>

    AOS.init();
    AOS.init({
      offset: 50
    });

    // $("#evntBtn").click(function () {
    //   window.open('localhost:3000/evnt')
    // });

    const countEl = $("#count");
    countvisits();
    function countvisits() {
      fetch('https://api.countapi.xyz/update/lappy/la6d5891ff/?amount=1')
        .then((res) => res.json())
        .then((res) => {
          countEl.html(res.value);
        });
    }

    $(window).scroll(function () {
      if ($(window).scrollTop() > 100) {
        $(".main-header").addClass("on-scroll");
      } else {
        $(".main-header").removeClass("on-scroll");
      }
    });


    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
      var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $('body, html').animate({
          scrollTop: reqSectionPos
        },
          800);
      } else {
        $('body, html').scrollTop(reqSectionPos);
      }

    };

    var checkSection = function checkSection() {
      $('.section').each(function () {
        var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
          reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
        }
      });
    };

    $('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
      if ($(e.target).hasClass('external')) {
        return;
      }
      e.preventDefault();
      $('#menu').removeClass('active');
      showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
      checkSection();
    });


    // owl
    $('.owl-carousel').owlCarousel({
      loop: false,
      margin: 30,
      nav: true,
      autoplay: true,
      autoplayTimeout: 5000,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        550: {
          items: 2
        },
        750: {
          items: 3
        },
        1000: {
          items: 4
        },
        1200: {
          items: 4
        }
      }
    })




  </script>
</body>

</html>